{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/object-curly-spacing": ["error", "always"],
    "@typescript-eslint/comma-spacing": ["error", { "before": false, "after": true }]

  },
  "env": {
    "node": true
  }
}